.*
!.gitignore
composer.lock
vendor/autoload.php
vendor/composer/*
vendor/dg/*
vendor/bin/*
vendor/league/*
vendor/symfony/*
vendor/swiftmailer/*
vendor/bin/*
vendor/league/*
www/*
node_modules/*
.DS_Store
