.*
!.gitignore
composer.lock
vendor/autoload.php
vendor/composer/*
vendor/dflydev/*
vendor/dg/*
vendor/bin/*
vendor/doctrine/*
vendor/egulias/*
vendor/league/*
vendor/psr/*
vendor/symfony/*
vendor/swiftmailer/*
vendor/bin/*
vendor/league/*
vendor/nette/*
vendor/predis/*
www/*
node_modules/*
.DS_Store
