<?xml version="1.0" encoding="utf-8"?>
<config>
    <params>
        <param menu="hide"  name="service" type="list" default="google" label="Service" description="Select a location service">
            <option value="google">Google</option>
            <!-- <option value="osm">OpenStreetMap</option> -->
        </param>

        <param name="browser_key" size="60" type="text" default="" label="Browser API Key"  description="Browser API Key"></param>
        <param name="server_key" size="60" type="text" default="" label="Server API Key"  description="Server API Key"></param>
    </params>
</config>
