/*
---

description: A plugin for enabling autocomplete of a text input or textarea.

authors:
 - Fábio Miranda Costa
 - Stian Didriksen

license: MIT-style license

...
*/

.ma-container{
	color: #000;
	border: 1px solid hsl(0, 0%, 73%);
	border: hsla(0, 0%, 0%, 0) 0px solid;
	background-color: #fff;
	position: absolute;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-box-shadow: hsla(0, 0%, 0%, .6) 0 5px 10px, black 0 0 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	padding: 2px 0;
}
.ma-container .top, .ma-container .bottom, .ma-container li {
	height: 5px;
	border: 1px solid transparent;
	background-color: white;

}
.ma-container .top {
	border-bottom-width: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
.ma-container .bottom {
	border-top-width: 0;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
.ma-container ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
}
.ma-container li{
	height: inherit;
	border-top-color: transparent;
	border-bottom-color: transparent;
	padding: 2px 10px;
	line-height: 16px;
	cursor: pointer;
	overflow: hidden;
}
.ma-container .ma-hover{
	color: #fff;
	background-color: rgb(85, 92, 250);
	border-top-color: rgb(100, 112, 236);
	border-bottom-color: rgb(66, 51, 240);
	border-left-color: transparent;
	border-right-color: transparent;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(114, 125, 251)), to(rgb(74, 70, 250)));
}
.ma-selected{
	/*background-color: #ccfda8;*/
}

/* @group Form.Validator compatibility */
.ma-required.ma-focus ~ .validation-advice {
    display: none!important;
}
/* @end */