#com-composer-container
{
	.composer-button-title {
		margin:0 5px;
	}
	
	a.form-placeholder
	{
	   margin: 10px 0;
	   padding: 5px 10px;
	   display: block;
	   
	   &:hover
       {
           cursor: text;
       }
	}
	
    form
    {
		margin-top: 10px;
		
        .form-actions
        {
            padding: 10px;
            
            button
            {
                float: right;
            }
        }
    }   
}