<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>	
					
		<param name="debug" size="60" type="list" default="" label="Redirect All Emails" >
		      <option value="0">No</option>
		      <option value="1">Yes</option>    
        </param>
        <param name="redirect_email" size="60" type="text" default="" label="Emails"  description="Redirect all mail notification to this email">
        
        </param>        
		<param menu="hide" type="custom" label="">
        <![CDATA[
               <p>By redirecting the emails, all emails are stored in <br /><strong><?=JFactory::getConfig()->getValue('tmp_path').'/emails/'?></strong> folder</p>
               <p>This is meant for debugging email and should be turned-off for production server</p>                     
        ]]>
        </param>

		
		
		 		
	</params>
</config>