/* lowlevel body */
html {height:100%;margin-bottom:1px;}
body {background:#eeeeee;margin:0;padding:0;font-family: Helvetica, Arial, sans-serif;font-size:13px;line-height:135%;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
img {border:0;}
h1 {}
input, button, select {font-family: Helvetica, Arial, sans-serif;}
.mc-wrapper {margin:0 auto;}

.width-960 .mc-wrapper {width: 960px}
.width-1080 .mc-wrapper {width: 1080px;}
.width-1200 .mc-wrapper {width: 1200px;}
.width-variable .mc-wrapper {margin: 0 30px;min-width:890px;}

/* font stuff */
@font-face {
  font-family: 'Titillium';
  src: url('TitilliumText22L-1wt.eot');
  src: local('?'),
         url('TitilliumText22L-1wt.ttf') format('truetype');
}
.headers-fancy h1 { font-family: 'Titillium', Helvetica, arial, serif; font-size: 32px;font-weight: normal;letter-spacing: -2px;}

/* common stuff */
.clr {clear: both;height: 0;}
h1 {color:#333;text-shadow:1px 1px 0 #fff;font-weight:normal;margin:50px 0 15px;}
#mc-frame {position:relative;}
#mc-header h1 {float:left;margin: 20px 0 15px 20px;}
#mc-footer {text-align:center;margin-top:50px;color:#ccc;font-size:12px;border-top:8px solid #D2D2D2;padding-top:20px;}
#mc-footer a:link, #mc-footer a:visited {color:#bbb;}
.mc-footer-logo {display:block;width:136px;height:44px;background:url(../images/mc-footer-logo.png);margin:0 auto;}
#mc-frame .mc-button {display:inline-block;}
#editor-xtd-buttons {padding:5px 0;}
#editor-xtd-buttons div, .button2-left{float:left;}
.mc-button a {margin-left:5px;}
#editor-xtd-buttons a, .button2-left a {margin-right:2px;margin-left:0;}
.mc-button a, #editor-xtd-buttons a, .button2-left a {display:block;padding:3px 8px;font-size:12px;line-height:13px;}
.mc-button a:hover, #editor-xtd-buttons a:hover, .button2-left a:hover {text-decoration:none;}
.spinner {background: url(../images/spinner.gif) no-repeat;width: 16px;height:16px;}
li.spinner {background:none;width:auto;height:auto;}
li#toolbar-apply.spinner a.toolbar {background-image: url(../images/spinner.gif);background-position: 3px 2px;background-repeat:no-repeat;padding-left:25px;}
#toolbar li#toolbar-save.disabled a.toolbar, #toolbar li#toolbar-apply.disabled a.toolbar {background-color:#ccc;color:#999;}

/* column stuff */
/* standard form style table */
div.col {float: left;}
div.width-45 {width: 45%;}
div.width-55 {width: 55%;}
div.width-50 {width: 50%;}
div.width-70 {width: 70%;}
div.width-30 {width: 30%;}
div.width-60 {width: 60%;}
div.width-40 {width: 40%;}

/* status */
#mc-status {float:right;}
#mc-status a:hover {text-decoration:none;}
#mc-status ul {float:right;margin:0;padding:0;}
#mc-status li {float:right;list-style:none;margin-left:2px;padding:0;font-weight:bold;position:relative;}
#mc-status li a {display:block;float:left;padding:4px 13px;}
#mc-status li select {margin:4px 13px;}
#mc-status .select-wrapper {margin:4px 20px 4px 13px;color:#fff;}
#mc-status ul.disabled a {opacity:0.8;}
#mc-status ul.disabled .quickedit a, #mc-status ul.disabled .preview a {opacity:1;}
#mc-status .mc-dropdown {display:none;}
#mc-status .mc-dropdown li a {padding-right:20px;}
#mc-status .mc-dropdown li {white-space:nowrap;position:relative;}
#mc-status .mc-dropdown li.divider {padding:0;height:0px;overflow:hidden;}
#mc-status li.dropdown:hover,#mc-status li:hover .mc-dropdown li,#mc-status ul.disabled li.dropdown:hover {background:#666;}
#mc-status li.dropdown:hover a, #mc-status li:hover .mc-dropdown li a {color:#fff;}
#mc-status .mc-dropdown-selected {cursor:pointer;}
#mc-status .mc-dropdown .badge {position:absolute;height:18px;width:18px;top:5px;right:4px;background:#4F9BD8;color:#fff;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;text-align:center;line-height:19px;font-size:11px;font-weight:bold;}

/* toolbar */
.mc-toolbar a:hover {text-decoration:none;}
.mc-toolbar ul {margin:0;padding:0;}
.mc-toolbar li {float:left;list-style:none;margin:0 0 0 2px;padding:0;}
.mc-toolbar a {display: block;padding: 4px 8px;background:#999;color:#fff;}
#mc-title .mc-toolbar {margin-left:10px;}
#mc-title #toolbar {float:right;}
#help.mc-toolbar a {padding:1px 6px;font-size:12px;margin-left:10px;}

/* generic form buttons */
button {display:inline-block;padding:2px 10px;background:#999;color:#fff;margin-right:2px;border:0;font-family:Helvetica,Arial,sans-serif;font-size:12px;cursor:pointer;}

/* menu override */
.extendmenu-on .menutop ul.parent-extend {width:350px;}
.extendmenu-on .menutop ul.parent-extend.level2 li.li-install-uninstall,
.extendmenu-on .menutop ul.parent-extend.level2 li.separator {width:100%;}
.extendmenu-on .menutop ul.parent-extend.level2 li {width:50%;}
.extendmenu-on .menutop ul.parent-extend.level2 .level3 li {width:100%;}

/* submenu */
#mc-submenu a:hover {text-decoration:none;}
#mc-submenu {overflow:hidden;}
#mc-submenu ul {margin:0;padding:0;float:left;}
#mc-submenu li {float:left;list-style:none;margin:0;padding:0;}
#mc-submenu a, #mc-submenu span.nolink {display:block;padding: 2px 13px;border-left:1px solid #F5F5F5;font-weight:bold;cursor:pointer;}
#mc-submenu li:first-child a, #mc-submenu li:first-child span.nolink {border-left:0;} 
#mc-submenu span.nolink {cursor:default;}
#mc-submenu span.nolink span {opacity:0.8;}

/* dropdown */
body #mc-status .dropdown, body #mc-status .select-active, body #mc-status .mc-dropdown-selected,
body #toolbar .dropdown, body #toolbar .select-active, body #toolbar .mc-dropdown-selected {position:relative;}
body #mc-status .mc-dropdown, body #mc-status .select-arrow {position: absolute;z-index:700;}
body #toolbar .mc-dropdown, body #toolbar .select-arrow {position: absolute;z-index:500;}
body #mc-status .select-arrow, body #toolbar .select-arrow {height: 25px;line-height: 25px;padding: 0;right: 0;text-align: center;top: 0; width: 20px;}
body #toolbar .select-arrow {line-height:24px;}
body #mc-status .mc-dropdown, body #toolbar .mc-dropdown {display:none;padding: 0;margin:25px 0 0 0;}
body #mc-status .select-active, body #toolbar .select-active {margin-right: 20px;display:block;}
body #mc-status .mc-dropdown li, body #toolbar .mc-dropdown li {line-height: 14px;font-weight: normal;padding: 3px 0;margin-left:0;float:left;width:100%;}
body #mc-status li:hover .mc-dropdown, body #toolbar li:hover .mc-dropdown {display:block;}
#toolbar li.dropdown {background:#999;}
body #toolbar .dropdown, body #toolbar .select-active, body #toolbar .mc-dropdown-selected {color:#fff;}
body #toolbar .select-arrow {color: #fff;border-left: 1px solid #F5F5F5;}
body #toolbar .mc-dropdown {border-top: 1px solid #F5F5F5;margin: 0;background:#777;}
body #toolbar li:hover li a {color:#fff;}
body #toolbar .dropdown li:hover {background:#777;}
#toolbar li.dropdown:hover {background:#777;}
body #toolbar .mc-dropdown li {margin:0;}
body #toolbar .mc-dropdown a {padding: 4px 10px;background:none;}
#toolbar li.dropdown a, #toolbar li.dropdown a:hover {background:none;}

.dropdown select {visibility: hidden;}

/* header */
#mc-header {position:relative;}
#mc-header .mc-wrapper {position:relative;}
#mc-header h1 {margin-bottom:10px;}
#mc-title {margin-top:40px;}
#mc-body #mc-title h1 {margin-top:2px;float:left;}

/* logo */
#mc-logo {padding:10px 0;overflow:hidden;}
#mc-logo img {margin:0;float:left;}

/* userinfo */
#mc-userinfo {position:absolute;right:0;top:37px;width:300px;height:50px;}
#mc-userinfo .gravatar {float:left;padding: 1px; }
#mc-userinfo .userinfo {margin-left:60px;font-size:11px;margin-top:0px;}
#mc-userinfo .userinfo b {font-size:13px;}

/* body overrides */
#mc-component {margin-top:30px;}

/* navigation */
#mc-nav .root > .item {font-weight:bold;}

/* system message */
#system-message {margin:20px 0 -15px;}
#system-message dt {display:none;}
#system-message dd {margin:0 0 10px 0;color:#444;}
#system-message ul {margin:1em 0 1em 55px;list-style:none;padding:0;}
#system-message dd.message {border:1px solid #97BDEC;background:#DDE9F7 url(../images/message-message.png) 10px 50% no-repeat;}
#system-message dd.message.error {border:1px solid #EC9B9A;background:#FAE2E2 url(../images/message-error.png) 10px 50% no-repeat;}
#system-message dd.message.notice {border:1px solid #D9D7AD;background:#FFFCD5 url(../images/message-notice.png) 10px 50% no-repeat;}

/* notes */
span.note {display:block;padding:15px;border:1px solid #D9D7AD;background:#FFFCD5;}

/* login stuff */
#mc-login #mc-header {height:300px;}
#mc-login #mc-logo {position:absolute;bottom: 50px;text-align:center;width:100%;padding:0;}
#mc-login #mc-logo h1 {float: none;}
#mc-login #mc-logo img {margin:0 auto;float:none;}
#mc-login form#form-login {width: 470px;margin:65px auto 0;}
#mc-login #form-login .inputbox {line-height:33px;height:32px;width:167px;border:1px solid #DEDEDE;font-size:20px;color:#666;padding:0 5px;background: url(../images/input-bg.png);margin-right:10px;float:left;}
#mc-login #form-login .inputbox:focus {background: #fff;}
#mc-login #form-login .button {line-height:34px;height:34px;width:86px;font-size:20px;text-align:center;display:block;float:left;cursor:pointer;}
#mc-login #system-message dd {position:absolute;width: 460px;left: 50%;margin-left: -230px;top:283px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);}
#mc-login #mc-footer {margin-top:150px;border-top:0;}

/* select boxes */
/*.select-wrapper, .select-selected {position: relative;}
.select-list, .select-arrow {position: absolute;}
.select-list {display:none;padding: 0 13px;margin:4px 1px 0 -13px;}
.select-arrow {top: -4px;right: -20px;width: 20px;padding: 0;border-left:1px solid #333; color:#fff;height:30px;line-height:25px;text-align:center;}
li:hover .select-wrapper .select-list {display:block;}
.select-active {margin-right: 13px;}
.select-option {border-top: 2px solid #b2df49;padding: 3px 0;}*/

/* forms */
table.adminlist th {white-space:nowrap;}
.mc-filter-table {background:#fff;border: 1px solid #e1e1e1;border-bottom: 0;border-spacing: 0;padding: 1px 1px 0 1px;}
.mc-first-table.mc-list-table {border: 1px solid #e1e1e1;border-spacing: 0;padding:1px !important;}
.mc-filter-table td {padding:7px;text-shadow:1px 1px 0 #fff;color:#666;background:#e1e1e1;}
.mc-filter-table input#search, .mc-search-form .inputbox {margin-right: 5px;width:75px;}
.mc-list-table {background:#fff;}
.mc-list-table {background:#fff;border-width: 0 1px 1px 1px;border-style: solid;border-color: #e1e1e1;}
.mc-list-table {border-spacing: 0 !important;padding:0 1px 1px 1px !important;width:100%;}
.mc-list-table thead th {padding: 5px 7px;font-size:12px;line-height:12px;font-weight:normal;}
.mc-list-table thead a {color:#fff;}
.mc-list-table td {font-size:12px;padding:4px;border-bottom:1px solid #f5f5f5;}
.mc-list-table thead th img {vertical-align:middle;}
.mc-list-table td.order {text-align:center;white-space: nowrap;}
.mc-list-table td.order span {display: block;float: left;text-align: center;width: 16px;margin-top:4px;}
.mc-list-table td.order input {border:1px solid #e1e1e1;width:20px;}
.mc-list-table tfoot td, .mc-list-table.mc-filter-table tfoot td {background:#e1e1e1;}
.mc-legend-table {margin-top:30px;color:#999;font-size:12px;}
.mc-list-table.mc-filter-table {padding-top:1px !important;}
.mc-list-table.mc-filter-table td {background:#fff;}
.mc-list-table tbody tr:hover td {background:#F4F8FB;}
.mc-first-table table.mc-list-table {padding-top:1px !important;border: 1px solid #e1e1e1}
.mc-form-frame {padding:0;}
.mc-form-frame.mc-padding fieldset {margin: 0 0 30px;padding: 15px 15px 15px 0;}
.mc-form-frame.mc-padding {padding:15px;}
.mc-form-frame > table.adminform {}
.mc-form-frame table.adminform {width:100%;}
table.adminform th {font-size:20px;text-align:left;font-weight:normal;padding:10px 0;border-bottom: 3px solid #E3E3E3;color:#333;}
table.admintable td > div#menu-pane {margin-top:20px;}
table.admintable td.key, table.admintable td.paramlist_key,table.adminform td.key, table.adminform td.paramlist_key {color: #666;text-align: left !important;font-size:12px;}
table.admintable td,table.adminform td {padding:5px;}
table.admintable input[type=text], table.admintable textarea, table.admintable select, table.admintable input[type=password],
table.adminform input[type=text], table.adminform textarea, table.adminform select, table.adminform input[type=password] {font-family:Helvetica, Arial, sans-serif;}
table.admintable input[type=text], table.admintable input[type=password],
table.adminform input[type=text], table.adminform input[type=password] {line-height:24px;height:24px;border:1px solid #DEDEDE;font-size:13px;color:#333;padding:0 5px;background: url(../images/input-bg.png) repeat-x;}
table.admintable input:focus[type=text], table.admintable input:focus[type=password],
table.adminform input:focus[type=text], table.adminform input:focus[type=password], table.mc-filter-table input:focus[type=text] {background: #fff;}
table.admintable textarea, table.admintable select, table.adminform textarea, table.adminform select, table.mc-filter-table input[type=text], .mc-search-form .inputbox {line-height: 18px;border:1px solid #DEDEDE;font-size:13px;color:#333;padding:0 5px;background: url(../images/input-bg.png) repeat-x;}
table.paramlist td.paramlist_key {width:100px !important;}
table.paramlist td.paramlist_value hr {border: 1px solid #e3e3e3;padding:0;}
table.noshow td {vertical-align:top;}
table.noshow table.admintable td.key,table.noshow table.admintable td.paramlist_key {width: 140px !important;}

/* fieldsets */
.mc-form-frame {background:#fff;border:1px solid #EDEDED;}
fieldset {margin:30px 0;padding: 15px;border:0;}
fieldset legend {line-height:26px;height:26px;display:block;font-size:20px;width:100%;border-bottom:3px solid #E3E3E3;color:#333;}
div.col .mc-padding {padding-right:20px;}
div.col.mc-last-column .mc-padding {padding-right:0;}
.panel fieldset {margin:10px 0;padding:0;}
 
/* sliders */
.pane-sliders {border:1px solid #EDEDED;padding:1px;}
.pane-sliders .panel h3 {margin:0 0 1px 0; padding:7px 5px;background-color: #EFEFEF;color:#333;font-weight:normal;cursor:pointer;}

/* image overrides */
img[src $="filesave.png"] {background:url(../images/icon-refresh.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="sort_asc.png"] {background:url(../images/order-up.png) no-repeat 0 0;height: 0;padding-top: 8px;width: 8px;margin-left:2px;}
img[src $="sort_desc.png"] {background:url(../images/order-down.png) no-repeat 0 0;height: 0;padding-top: 8px;width: 8px;margin-left:2px;}
img[src $="publish_g.png"] {background:url(../images/icon-published.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="publish_x.png"] {background:url(../images/icon-unpublished.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="publish_y.png"] {background:url(../images/icon-pending.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="publish_r.png"] {background:url(../images/icon-expired.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="disabled.png"] {background:url(../images/icon-case.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
a[title=No] img[src $="publish_x.png"] {background:url(../images/icon-star2.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
a[title=Yes] img[src $="tick.png"] {background:url(../images/icon-star.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="publish_x.png"] {background:url(../images/icon-unpublished.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="tick.png"] {background:url(../images/icon-published.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;}
img[src $="uparrow.png"] {background:url(../images/arrow-up.png) no-repeat 0 0;height: 0;padding-top: 14px;width: 16px;}
img[src $="downarrow.png"] {background:url(../images/arrow-down.png) no-repeat 0 0;height: 0;padding-top: 14px;width: 16px;}
img[src $="/system/images/calendar.png"] {background:url(../images/icon-date.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;margin:-1px 0 0 5px;vertical-align:middle;cursor:pointer;}
img[src $="tooltip.png"] {background:url(../images/icon-info.png) no-repeat 0 0;height: 0;padding-top: 16px;width: 16px;margin-left:10px;}


/* pagination */
.mc-pagination-container a:hover {text-decoration:none;}
table.adminlist tfoot td,table.adminlist th {text-align:center;}
table.adminlist tfoot td {padding:8px 0;color:#666;}
.mc-pagination-container {clear:both;text-decoration:none;position:relative;z-index:1;}
.mc-limit {position: relative;float: left;white-space:nowrap;margin-left:15px;margin-top: 2px;text-shadow:1px 1px 0 #fff;z-index:2;}
.mc-limit select {float:right;margin:0;}
.mc-limit span {display:inline-block;margin-right:10px;}
.mc-page-count {position: relative;float: right;white-space:nowrap;text-align:right;margin-right:15px;margin-top:2px;text-shadow:1px 1px 0 #fff;z-index:2;}
table.adminlist .mc-pagination {display:table;margin:2px auto 0;padding:0;}
table.adminlist .page-button {float:left;margin-left:2px;}
.mc-pagination-container .page-button a {display:block;float:left;padding:3px 8px;background:#5d5d5d;color:#fff;font-size:12px;line-height:13px;}
.mc-pagination-container .page-button .start a, .mc-pagination-container .page-button .end a {background:#7D7D7D;} 
.mc-pagination-container .page-button span {display:block;float:left;padding:3px 8px;background:#bbb;color:#eee;font-size:12px;line-height:13px;}
.mc-pagination-container .pages {float:left;padding:3px 8px;font-size:12px;line-height:13px;margin-left:2px;}
.mc-pagination-container .pages span, .mc-pagination-container .pages a {display: inline-block;padding:0 7px;}
.mc-pagination-container .pages span {font-weight:bold;text-decoration:underline;}

/* tooltips */
.tool-tip,.tip-wrap {background: rgba(20,20,20,0.7);font-size:11px;color:#fff;z-index:50;max-width:200px;padding:10px;text-shadow: -1px -1px 1px rgba(0,0,0,0.5);}
.tool-tip .tool-title {font-weight: bold;font-size: 16px;display: block;margin-bottom: 5px;}
.tip-wrap {display:none;}
.tool-tip .tool-text {overflow:hidden;}

/* CSS3 corners */
#mc-login #form-login .inputbox, #mc-login #form-login .button, #mc-login #mc-message, #mc-submenu ul, .tip-wrap, .mc-form-frame, .pane-sliders, .pane-sliders .panel h3, body.option-com-trash td.mc-last-cell a.toolbar,body.option-com-trash a.icon-32-delete, .tool-tip,.mc-module-sidebar,.mc-module-standard,#mc-article,.mc-update-check {border-radius: 6px;}
.mc-button a, .mc-toolbar a, .mc-toolbar li.dropdown, .mc-pagination-container .pages, .mc-pagination .page-button a, .mc-pagination .page-button span,table.admintable input[type=text], table.admintable input[type=password], table.admintable textarea, table.admintable select,table.adminform input[type=text], table.adminform input[type=password], table.adminform textarea, table.adminform select, #editor-xtd-buttons a, .button2-left a, table.mc-filter-table input[type=text], .mc-search-form .inputbox,#rok-audit li,#rok-quicklinks a, dd.message, #mc-statusbox table, span.note,#mc-statusbox .mc-editors-list,.mc-update-check a,button,#cpanel div.icon a:hover {border-radius: 4px;}
#mc-status a, .menutop ul, .select-list, #mc-status li, .dropdown-list, .mc-list-table, .mc-list-table tfoot td, .mc-second-table > .mc-list-table, body #mc-status .mc-dropdown, #mc-status .mc-dropdown li:last-child {border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;}
body #toolbar .mc-dropdown, #toolbar .mc-dropdown li:last-child {border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
.menutop li.root > .item, .menutop ul ul,.mc-filter-table,.mc-module-sidebar.type2 h2, .mc-module-standard.type2 h2, #mc-article-tabs a, dl.tabs dt {border-top-right-radius: 6px;border-top-left-radius: 6px;}
.mc-filter-table td.mc-last-cell, .mc-filter-table th.mc-last-cell  {border-top-right-radius: 6px;}
.mc-first-table td.mc-first-cell, .mc-first-table th.mc-first-cell {border-top-left-radius: 6px;}
#mc-status li.dropdown:hover, #toolbar li.dropdown:hover, #mc-cpanel .pane-sliders h3.jpane-toggler-down {border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
#mc-status .mc-dropdown li, #toolbar .mc-dropdown li a, #mc-standalone .mc-filter-table, #mc-standalone .mc-filter-table td.mc-last-cell, #mc-standalone .mc-filter-table th.mc-last-cell, #mc-standalone .mc-first-table td.mc-first-cell, #mc-standalone .mc-first-table th.mc-first-cell,#mc-standalone .mc-list-table, #mc-standalone .mc-list-table tfoot td, #mc-standalone .mc-second-table > .mc-list-table {border-radius:0;}
#mc-submenu li:first-child a, #mc-submenu li:first-child .nolink {border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
#mc-submenu li:last-child a, #mc-submenu li:last-child .nolink {border-top-right-radius: 6px;border-bottom-right-radius: 6px;}

/* overrides */
select#paramstimezone, select#offset {width:330px !important;}
img[name=imagelib] {width:auto !important;height:auto !important;}
.option-com-cache.task-purgeadmin table.adminlist td {padding:20px 10px;}
table.adminlist th img {border:0;}
body .calendar {border:0;}
body .calendar thead .title {background:#C62D2D;color:#fff;}

/* component view */
#mc-standalone {background:#fff;}
#mc-standalone fieldset {margin:0;padding:5px 10px;}
#mc-standalone fieldset legend {font-size: 14px;line-height:18px;height:18px;}
#mc-standalone .configuration {font-size:16px;font-weight:bold;}


/* rokquicklink */
#rok-quicklinks a:hover {background:#F4F8FB;border:1px solid #E8F0F7;}


/* dahsboard */
.mc-dashtext {margin-bottom:20px;}
#mc-sidebar {float:right; width:320px;}
#mc-cpanel {margin-right:340px;}
#mc-cpanel #mc-component {margin-top:0;}

.mc-module-sidebar, .mc-module-standard,#mc-cpanel .pane-sliders {background:#fff;border:1px solid #EDEDED;}
.mc-module-sidebar, .mc-module-standard {padding:15px;margin-bottom:20px;position:relative;}
.mc-module-sidebar h2, .mc-module-standard h2 {border-bottom:3px solid #e3e3e3;font-weight:normal;font-size:16px;margin:0;padding:0 0 6px;}
.mc-module-sidebar.type2 h2, .mc-module-standard.type2 h2 {border-bottom:0;background: #e1e1e1;margin: -14px -14px 0 -14px;padding: 9px 14px;color:#333;text-shadow:1px 1px 0 #fff;color:#555;}

.mc-module-standard table.adminlist {width:100%;border-collapse:collapse;font-size:12px;}
.mc-module-standard table.adminlist td {padding:4px;border-top:1px solid #f5f5f5;}
.mc-module-standard table.adminlist tr:hover {background:#F4F8FB;}
.mc-module-standard table.adminlist td.title {border:0;padding:2px 4px;}
.mc-module-standard strong {font-weight:normal;}

div.mc-slider-first {padding:15px;}

#mc-cpanel .pane-sliders {padding-bottom:0;}
#mc-cpanel .jpane-slider table{margin-bottom:10px !important;}
#mc-cpanel table.adminlist {padding:0;}
#mc-cpanel table.adminlist td {padding:4px 6px;border-top:1px solid #f5f5f5;}
#mc-cpanel table.adminlist tr:first-child td {border-top:0;}
#mc-cpanel table.mc-list-table td {border-bottom:0;}
#mc-cpanel .pane-sliders .mc-list-table {border:0;border-collapse:collapse;}
#mc-cpanel .pane-sliders .panel h3 {background-color:#ececec;padding-left:10px;}
#mc-cpanel .jpane-slider td.title {background:#f5f5f5;color:#333;border-bottom:1px solid #e6e6e6;}
#mc-cpanel .pane-sliders .panel h3.jpane-toggler-down:hover {text-shadow:0 0 0;}
#mc-cpanel .pane-sliders td.title {padding:2px 6px;}
#mc-cpanel .pane-sliders strong {font-weight:normal;}

/* cpanel icons */
#cpanel div.icon {text-align: center;margin-right: 5px;float: left;margin-bottom: 5px;}
#cpanel div.icon a {display: block;float: left;border: 1px solid #fff;height: 97px;width: 108px;color: #666;vertical-align: middle;text-decoration: none;}
#cpanel div.icon a:hover {border-left: 1px solid #eee;border: 1px solid #E8F0F7;background-color: #F4F8FB;}
#cpanel img  { padding: 10px 0; margin: 0 auto; }
#cpanel span { display: block; text-align: center;font-size:11px; }

/* generic tabs */
dl.tabs {float:left;z-index:50;margin: 10px 0 -1px;}
dl.tabs dt {float:left;margin-left:3px;padding:5px 10px;background:#f6f6f6;border:1px solid #e6e6e6 !important;}
dl.tabs dt.open {background:#fff !important;border-bottom:1px solid #fff !important;}
.current {border:1px solid #e6e6e6;background: #fff;clear:both;}
.current dd {margin:0;padding:15px;}
#mc-body .current dd h1 {line-height: 100%;margin:0 0 15px;}

/* admin template params */
.mc-update-check {border:1px solid #97BDEC;background:#DDE9F7;padding: 10px;overflow:hidden;color:#000;text-shadow: 1px 1px 0 #fff;margin: 10px 0;}
.mc-update-check a {float:right;display:block;padding:2px 10px;background:#4d4d4d;color:#fff;text-shadow:none;text-decoration:none;}
.mc-update-check.updates-true {border:1px solid #EC9B9A;background:#FAE2E2;}
.picker-input {width:65px !important;}
iframe.mc-logoupload {border:0;width:400px; height:200px;}
.mc-update .spinner {float: right;display: block;margin: 3px 7px 0 0;display: none;}
b.mc-error {color:#c00;}
#editor_spinner {margin: 4px;display:none;}

/* general overrides */
.button2-left > div {background:none !important;}
.mc-position-relative {position:relative;}
.mc-position-relative input.combobox[name=position] {top: 0px !important;left:0px !important;padding: 0 0px !important;height:18px !important;line-height:18px !important;text-indent:4px;}
#page-editor div.rokpad .fullscreen.out {display:none;}
.mc-module-content .clr {display:none;}
.mc-module-content {overflow:hidden;}
.mc-module-content .icon span {font-size:12px;line-height:14px;}
