
body.rtl {direction: rtl;}

/* common stuff */
body.rtl #mc-header h1 {float: right;margin-left: 0;margin-right: 20px;}
body.rtl #editor-xtd-buttons div, body.rtl .button2-left{float: right;}
body.rtl .mc-button a {margin-left: 0;margin-right: 5px;}
body.rtl #editor-xtd-buttons a, body.rtl .button2-left a {margin-right: 0;margin-left: 2px;}
body.rtl #mc-body #mc-title h1 {float:right;}

/* column stuff */
/* standard form style table */
body.rtl div.col {float: right;}

/* status */
body.rtl #mc-status {float: left;}
body.rtl #mc-status ul {float: left;}
body.rtl #mc-status li {float: left;margin-left: 0;margin-right: 2px;}
body.rtl #mc-status li a {float: right;}
body.rtl #mc-status .select-wrapper {margin: 4px 13px 4px 20px;}

/* toolbar */
body.rtl .mc-toolbar li {float: right;margin: 0 2px 0 0;}
body.rtl #mc-title .mc-toolbar {margin-left: 0;margin-right: 10px;}
body.rtl #mc-title #toolbar {float: left;}
body.rtl #help.mc-toolbar a {margin-left: 0;margin-right: 10px;}

/* submenu */
body.rtl #mc-submenu ul {float: right;}
body.rtl #mc-submenu li {float: right;}
body.rtl #mc-submenu a, body.rtl #mc-submenu span.nolink {border-left: 0;border-right: 1px solid #F5F5F5;}
body.rtl #mc-submenu li:first-child a, body.rtl #mc-submenu li:first-child span.nolink {border-right: 0;border-left: inherit;} 

/* dropdown */
body.rtl #mc-status .select-arrow, body.rtl #toolbar .select-arrow {right: auto;left: 0;}
body.rtl #mc-status .select-active, body.tl #toolbar .select-active {margin-right: 0;margin-left: 20px;}
body.rtl #mc-status .mc-dropdown li, body.rtl #toolbar .mc-dropdown li {margin-left: inherit;margin-right: 0;float: right;}
body.rtl #toolbar .select-arrow {border-left: 0;border-right: 1px solid #F5F5F5;}

/* logo */
body.rtl #mc-logo #logo {float: right;}

/* userinfo */
body.rtl #mc-userinfo {right: auto;left: 0;}
body.rtl #mc-userinfo .gravatar {float: right;}
body.rtl #mc-userinfo .userinfo {margin-left: 0;margin-right: 60px;}

/* body overrides */
body.rtl #mc-body h1 {float: right;}

/* system message */
body.rtl #system-message ul {margin: 1em 55px 1em 0;}
body.rtl #system-message dd.message {background-position: 95% 50%;}
body.rtl #system-message dd.message.error {background-position: 95% 50%;}
body.rtl #system-message dd.message.notice {background-position: 95% 50%;}

/* login stuff */
body.rtl #mc-login form#form-login {margin-left: 0;margin-right: 250px;}
body.rtl #mc-login #form-login .inputbox {margin-right: 0;margin-left: 10px;float: right;}
body.rtl #mc-login #form-login .button {float: right;}
body.rtl #mc-login #system-message dd {left: auto;right: 50%;margin-left: 0;margin-right: -230px;}

/* forms */
body.rtl .mc-filter-table input#search, body.rtl .mc-search-form .inputbox {margin-right: 0;margin-left: 5px;}
body.rtl .mc-list-table td.order span {float: right;}
body.rtl .mc-form-frame.mc-padding fieldset {padding: 15px 0 15px 15px;}
body.rtl table.adminform th {text-align: right;}
body.rtl table.admintable td.key, body.rtl table.admintable td.paramlist_key,table.adminform td.key, body.rtl table.adminform td.paramlist_key {text-align: right !important;}

/* fieldsets */
body.rtl div.col .mc-padding {padding-right: 0;padding-left: 20px;}
body.rtl div.col.mc-last-column .mc-padding {padding-left: 0;}

/* image overrides */
body.rtl img[src $="filesave.png"] {background-position: 100% 0;}
body.rtl img[src $="sort_asc.png"] {background-position: 100% 0;margin-left: 0;margin-right: 2px;}
body.rtl img[src $="sort_desc.png"] {background-position: 100% 0;margin-left: 0;margin-right: 2px;}
body.rtl img[src $="publish_g.png"] {background-position: 100% 0;}
body.rtl img[src $="publish_x.png"] {background-position: 100% 0;}
body.rtl img[src $="publish_y.png"] {background-position: 100% 0;}
body.rtl img[src $="publish_r.png"] {background-position: 100% 0;}
body.rtl img[src $="disabled.png"] {background-position: 100% 0;}
body.rtl a[title=No] img[src $="publish_x.png"] {background-position: 100% 0;}
body.rtl a[title=Yes] img[src $="tick.png"] {background-position: 100% 0;}
body.rtl img[src $="publish_x.png"] {background-position: 100% 0;}
body.rtl img[src $="tick.png"] {background-position: 100% 0;}
body.rtl img[src $="uparrow.png"] {background-position: 100% 0;}
body.rtl img[src $="downarrow.png"] {background-position: 100% 0;}
body.rtl img[src $="tooltip.png"] {background-position: 100% 0;margin-left: 0;margin-right: 10px;}

/* pagination */
body.rtl .mc-pagination-container .mc-limit {float: right;margin-left: 0;margin-right: 15px;}
body.rtl .mc-pagination-container .mc-page-count {float: left;text-align: left;margin-right: 0;margin-right: 15px;}
body.rtl table.adminlist .page-button {float: right;margin-left: 0;margin-right: 2px;}
body.rtl .mc-pagination-container .page-button a {float: right;}
body.rtl .mc-pagination-container .page-button span {float: right;}
body.rtl .mc-pagination-container .pages {float: right;margin-left: 0;margin-right: 2px;}

/* CSS3 corners */
body.rtl .mc-filter-table td.mc-last-cell, body.rtl .mc-filter-table th.mc-last-cell  {border-top-right-radius: 0;border-top-left-radius: 6px;}
body.rtl .mc-first-table td.mc-first-cell, body.rtl .mc-first-table th.mc-first-cell {border-top-left-radius: 0;border-top-right-radius: 6px;}
body.rtl #mc-submenu li:first-child a {border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 6px;border-bottom-right-radius: 6px;}
body.rtl #mc-submenu li:last-child a {border-top-right-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 6px;border-bottom-left-radius: 6px;}

/* cpanel */
body.rtl #mc-sidebar {float: left;}
body.rtl #mc-cpanel {margin-right: 0;margin-left: 340px;}
