/* CORE */
body.rtl .menutop {float: right;}
body.rtl .menutop li .item {float: none;}

/* Level 1 */
body.rtl .menutop li.root > .item {margin-right: 0;margin-left: 2px;}
body.rtl .menutop li:hover > .daddy:hover {background-position: 5px 60%;}

/* Level 2 */
body.rtl .menutop .level2 li:hover > .daddy, body.rtl .menutop .level2 li > .daddy {background-position: 10px 50%;}
body.rtl .menutop .level2 li:hover .daddy {background-position: 10px 50%;}

/* Level 3 */
body.rtl .menutop .level3 li:hover > .daddy, body.rtl .menutop .level3 li > .daddy {background-position: 10px 50%;}

/* regular hover */
body.rtl .menutop li:hover .daddy:hover, body.rtl .menutop ul li.active:hover > .daddy:hover {background-position: 10px 50%;}

/* span hover */
body.rtl .menutop li.root > span.daddy.item {padding-right: 15px;padding-left: 20px;}

/* disabled */
body.rtl .menutop.disabled li.root > .daddy, body.rtl .menutop.disabled li.root:hover > .daddy, body.rtl .menutop.disabled li.root:hover > .daddy:hover {background-position: 5px 60%;}
body.rtl .menutop.disabled li.root.active > .daddy, body.rtl .menutop.disabled li.root.active:hover > .daddy {background-position: 5px 60%;}

/* Root Items */
body.rtl .menutop li.root {float: right;} 
body.rtl .menutop li.root > .item {float: right;}
body.rtl .menutop li.root > .daddy, body.rtl .menutop li.root:hover > .daddy, body.rtl .menutop li.root:hover > .daddy:hover {background-position: 5px 60%;}

/* Active Items */
body.rtl .menutop li.root.active > .daddy, body.rtl .menutop li.root.active:hover > .daddy {background-position: 5px 60%;}
body.rtl .menutop span.default {background-position: 5px 100%;}

/* No JS */
body.rtl .menutop li:hover > .fusion-submenu-wrapper, body.rtl .menutop li:hover > ul {left: auto;right: 170px;}
body.rtl .menutop li.root:hover > .fusion-submenu-wrapper, body.rtl .menutop li.root:hover > ul {left: auto;right: 0;}
body.rtl .menutop li:hover ul, body.rtl .menutop li.sfHover ul {left: auto;right: 0;}
body.rtl .menutop li li:hover > ul, body.rtl .menutop li li.sfHover > ul {left: auto;right: 175px;}
body.rtl .menutop .level2 li {float: right;}

/* Fusion JS */
body.rtl .fusion-js-container {left: auto;right: 0;}
